nav {
    background: rgb(151, 218, 218);
    color: azure;
    padding: 1em;
    text-align: center;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
nav a {
    color: azure;
    text-decoration: none;
}
nav a:hover{
    color: black;
}